#minesweeper {
	text-align: center;
}
h3 {
	font-family: monospace;
	font-weight: 200;
	font-size: 20px;
}
table {
	border-spacing: 3px;
	margin: auto;
}
td {
	box-sizing: border-box;
	border-radius: 5px;
	width: 30px;
	height: 30px;
}
td.unclicked {
	border: 2px solid #bbb;
	padding: 10px;
	background: #ddd;
}
td.unclicked:hover {
	border: 2px solid #888;
}
td.clicked {
	/*border: 2px solid lightgray;*/
	background: #eee;
	padding: 0px;
}
td.clicked span {
	font-family: 'courier';
	font-weight: bold;
}
td.bomb {
	background-image: url('../images/mine.gif');
	background-position: center;
	background-repeat: no-repeat;
}
td.flagged {
	background-color: red;
}
