table {
	border-spacing: 0px;
}
td {
	text-align: center;
}
td.unclicked {
	border: 2px outset lightgray;
	padding: 10px;
	background: #ddd;
}
td.clicked {
	border: 2px inset lightgray;
	background: #eee;
	padding: 0px;
	width: 20px;
	height: 20px;
}
td.clicked span {
	font-family: 'courier';
	font-weight: bold;
}
td.bomb {
	background-image: url('../images/mine.gif');
	background-position: center;
	background-repeat: no-repeat;
}
